@model IEnumerable<tekno_egitim_web.core.Model.Video>

@{
    ViewData["Title"] = "En Çok İzlenen";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h4>En Çok İzlenen</h4>

<div class="row" style="margin-left:50px;">
    @{
        int sira = 1;
    }
    @foreach (var item in Model)
    {
       
        <div class="row col-md-12" >
            <div class="col-md-4">
                <iframe width="372" height="252" src="@item.videoUrl" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-md-8">
                <span>@item.baslik</span>
            </div>

        </div>
    }
</div>
