
@{
    ViewData["Title"] = "Blog";
}

<!-- Modal -->
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content rounded-0 border-0 p-4">
            <div class="modal-header border-0">
                <h3>KAYIT OL</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="login">
                    <form action="#" class="row">
                        <div class="col-12">
                            <input type="text" class="form-control mb-3" id="signupName" name="signupName" placeholder="Adınız Soyadınız">
                        </div>
                        <div class="col-12">
                            <input type="email" class="form-control mb-3" id="signupEmail" name="signupEmail" placeholder="Email adresi giriniz.">
                        </div>
                        <div class="col-12">
                            <input type="email" class="form-control mb-3" id="signupSchool" name="signupSchool" placeholder="Okul Seçin">
                        </div>
                        <div class="col-12">
                            <input type="password" class="form-control mb-3" id="signupPassword" name="signupPassword" placeholder="Şifre Girin">
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">KAYIT OL</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content rounded-0 border-0 p-4">
            <div class="modal-header border-0">
                <h3>Oturum Aç</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="#" class="row">
                    <div class="col-12">
                        <input type="text" class="form-control mb-3" id="loginName" name="loginName" placeholder="Kullanıcı Adınızı Giriniz">
                    </div>
                    <div class="col-12">
                        <input type="password" class="form-control mb-3" id="loginPassword" name="loginPassword" placeholder="Şifrenizi Giriniz">
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">Giriş Yap</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- page title -->
<section class="page-title-section overlay" data-background="images/backgrounds/page-title.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div align="right"><p><font face="times new roman" size="15" color="white"><b>ÜNİVERSİTELER</b></font> </p> </div>
                <ul class="list-inline custom-breadcrumb">
                    <li class="list-inline-item"><a class="h2 text-primary font-secondary" href="@@page-link">_____________ ÜNİVERSİTESİ</a></li>
                    <li class="list-inline-item text-white h3 font-secondary @@nasted"></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- /page title -->
<!-- blogs -->
<section class="section">
    <div class="container">
        <div class="row">

            <!-- blog post -->
            <article class="col-lg-4 col-sm-6 mb-5">
                <div class="card rounded-0 border-bottom border-primary border-top-0 border-left-0 border-right-0 hover-shadow">
                    <img class="card-img-top rounded-0" src="~/Content/images/blog/blogpost3.jpg" alt="Post thumb">
                    <div class="card-body">
                        <!-- post meta -->
                        <ul class="list-inline mb-3">
                            <!-- post date -->
                            <li class="list-inline-item mr-3 ml-0">27 Nisan 2020</li>
                            <!-- author -->
                        </ul>
                        <a href=""~/Content/üniversiteler.html">
                            <h4 class="card-title">ÜNİVERSİTEMİZ PERSONELİNE HOBİ BAHÇELERİ VERİLDİ</h4>
                        </a>
                        
                        <a href=""~/Content/üniversiteler.html" class="btn btn-primary btn-sm">Daha Fazla</a>
                    </div>
                </div>
            </article>
            <!-- blog post -->
            <article class="col-lg-4 col-sm-6 mb-5">
                <div class="card rounded-0 border-bottom border-primary border-top-0 border-left-0 border-right-0 hover-shadow">
                    <img class="card-img-top rounded-0" src="~/Content/images/blog/blogpost2.jpg" alt="Post thumb">
                    <div class="card-body">
                        <!-- post meta -->
                        <ul class="list-inline mb-3">
                            <!-- post date -->
                            <li class="list-inline-item mr-3 ml-0">4 Nisan 2020</li>
                            <!-- author -->

                        </ul>
                        <a href="~/Content/üniversiteler2.html">
                            <h4 class="card-title">TEKNİK BİLİMLER MESLEK YÜKSEK OKULUN’DAN KORONAVİRÜS SÜRECİNDE ÖNEMLİ ÇALIŞMALAR</h4>
                        </a>

                        <a href="~/Content/üniversiteler2.html" class="btn btn-primary btn-sm">Daha Fazla</a>
                    </div>
                </div>
            </article>
            <!-- blog post -->
            <article class="col-lg-4 col-sm-6 mb-5">
                <div class="card rounded-0 border-bottom border-primary border-top-0 border-left-0 border-right-0 hover-shadow">
                    <img class="card-img-top rounded-0" src="~/Content/images/blog/blogpost1.jpg" alt="Post thumb">
                    <div class="card-body">
                        <!-- post meta -->
                        <ul class="list-inline mb-3">
                            <!-- post date -->
                            <li class="list-inline-item mr-3 ml-0">17 Nisan 2020</li>
                            <!-- author -->

                        </ul>
                        <a href="~/Content/üniversiteler3.html">
                            <h4 class="card-title">ÜNİVERSİTEMİZ “YOBÜ” MARKASI İLE KENEVİR YAĞI KATKILI ANTİBAKTERİYEL SIVI SABUN ÜRETTİ</h4>
                        </a>

                        <a href="~/Content/üniversiteler3.html" class="btn btn-primary btn-sm">Daha Fazla</a>
                    </div>
                </div>
            </article>
            <!-- blog post -->
            <article class="col-lg-4 col-sm-6 mb-5">
                <div class="card rounded-0 border-bottom border-primary border-top-0 border-left-0 border-right-0 hover-shadow">
                    <img class="card-img-top rounded-0" src="~/Content/images/blog/blogpost4.jpg" alt="Post thumb">
                    <div class="card-body">
                        <!-- post meta -->
                        <ul class="list-inline mb-3">
                            <!-- post date -->
                            <li class="list-inline-item mr-3 ml-0">18 Nisan 2020</li>
                            <!-- author -->
                            <li class="list-inline-item mr-3 ml-0">Gözde Duru</li>
                        </ul>
                        <a href="~/Content/üniversiteler4.html">
                            <h4 class="card-title">Biyokimya Dersi Ders Notları</h4>
                        </a>
                      
                        <a href="~/Content/üniversiteler4.html" class="btn btn-primary btn-sm">Daha Fazla</a>
                    </div>
                </div>
            </article>
            <!-- blog post -->
            <article class="col-lg-4 col-sm-6 mb-5">
                <div class="card rounded-0 border-bottom border-primary border-top-0 border-left-0 border-right-0 hover-shadow">
                    <img class="card-img-top rounded-0" src="~/Content/images/blog/blogpost5.jpg" alt="Post thumb">
                    <div class="card-body">
                        <!-- post meta -->
                        <ul class="list-inline mb-3">
                            <!-- post date -->
                            <li class="list-inline-item mr-3 ml-0">2 Mayıs 2020</li>
                            <!-- author -->
                            <li class="list-inline-item mr-3 ml-0">İbrahim Kutlu</li>
                        </ul>
                        <a href="~/Content/üniversiteler5.html">
                            <h4 class="card-title">Olasılık Ve İstatistik Dersi Ders Notları</h4>
                        </a>
                      
                        <a href="~/Content/üniversiteler5.html" class="btn btn-primary btn-sm">Daha fazla</a>
                    </div>
                </div>
            </article>
             <!-- blog post -->
            <article class="col-lg-4 col-sm-6 mb-5">
                <div class="card rounded-0 border-bottom border-primary border-top-0 border-left-0 border-right-0 hover-shadow">
                    <img class="card-img-top rounded-0" src="~/Content/images/blog/blogpost6.jpg" alt="Post thumb">
                    <div class="card-body">
                        <!-- post meta -->
                        <ul class="list-inline mb-3">
                            <!-- post date -->
                            <li class="list-inline-item mr-3 ml-0">3 Mayıs 2020</li>
                            <!-- author -->
                            <li class="list-inline-item mr-3 ml-0">Prof. Dr. R. Cevat Özden</li>
                        </ul>
                        <a href="~/Content/üniversiteler6.html">
                            <h4 class="card-title">Siber Saldırı ve Siber Güvenlik</h4>
                        </a>

                        <a href="~/Content/üniversiteler6.html" class="btn btn-primary btn-sm">Daha fazla</a>
                    </div>
                </div>
            </article>
            <!-- blog post -->
            
        </div>
    </div>
</section>
<!-- /blogs -->
