
<!-- hero slider -->
<section class="hero-section overlay bg-cover" data-background="~/Content/images/banner/banner-1.jpg">
    <div class="container">
        <div class="hero-slider">
            <!-- slider item -->
            <div class="hero-slider-item">
                <div class="row">
                    <div class="col-md-8">
                        <h1 class="text-white" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInLeft" data-delay-in=".1">Misyonumuz: PARLAK BİR GELECEK</h1>
                        <p class="text-muted mb-4" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInLeft" data-delay-in=".4">
                            Kaliteli eğitimin her yerde ve herkes için var olması için çalışacağız. Uzaktan eğitim yöntemlerinin geliştirilmesi için yeni yöntemler arayacağız.
                            Öğrenmenin pahalı olduğu eğitim dünyasında ücretsiz uzaktan eğitim metodunu sürdürülebilir kılmayı hedefliyoruz.
                            Öncelikli hedefimiz kişisel gelişim olsa da nihai olarak toplumsal gelişimi hedeflemekteyiz..
                            Öğrencilerimizin sayısı arttıkça bireylere değil, küresel topluma hizmet etmiş oluruz.
                        </p>
                        <a href="~/Content/contact.html" class="btn btn-primary" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInLeft" data-delay-in=".7">BİZE KATIL</a>
                    </div>
                </div>
            </div>
            <!-- slider item -->
            <div class="hero-slider-item">
                <div class="row">
                    <div class="col-md-8">
                        <h1 class="text-white" data-animation-out="fadeOutUp" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".1">Geleceğin güvencesi sağlam temellere dayalı bir eğitime, eğitim ise öğretmene dayalıdır.</h1>
                        <p class="text-muted mb-4" data-animation-out="fadeOutUp" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".4">
                            MUSTAFA KEMAL ATATÜRK
                        </p>

                    </div>
                </div>
            </div>
            <!-- slider item -->

        </div>
    </div>
</section>
<!-- /hero slider -->
<!-- banner-feature -->
<section class="bg-gray">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-xl-4 col-lg-5 align-self-end">
                <img class="img-fluid w-100" src="~/Content/images/banner/banner-feature.png" alt="banner-feature">
            </div>
            <div class="col-xl-8 col-lg-7">
                <div class="row feature-blocks bg-gray justify-content-between">
                    <div class="col-sm-6 col-xl-5 mb-xl-5 mb-lg-3 mb-4 text-center text-sm-left">
                        <i class="ti-book mb-xl-4 mb-lg-3 mb-4 feature-icon"></i>
                        <h3 class="mb-xl-4 mb-lg-3 mb-4">Haberler</h3>
                        <p>
                            Kendi üniversiten hakkında ya da merak ettiğin herhangi bir üniversite ile ilgili en güncel haberlere ulaşabilir ve haberleri sen yükleyebilirsin.
                        </p>
                    </div>
                    <div class="col-sm-6 col-xl-5 mb-xl-5 mb-lg-3 mb-4 text-center text-sm-left">
                        <i class="ti-blackboard mb-xl-4 mb-lg-3 mb-4 feature-icon"></i>
                        <h3 class="mb-xl-4 mb-lg-3 mb-4">Ders Videoları</h3>
                        <p>
                            Öğrenmek istediğin derslerle ilgili videolara ulaşabilirsin aynı zamanda bu ders videolarını sen de ekleyebilirsin.
                        </p>
                    </div>
                    <div class="col-sm-6 col-xl-5 mb-xl-5 mb-lg-3 mb-4 text-center text-sm-left">
                        <i class="ti-agenda mb-xl-4 mb-lg-3 mb-4 feature-icon"></i>
                        <h3 class="mb-xl-4 mb-lg-3 mb-4">Ders Notları</h3>
                        <p>
                            İhtiyacın olan ders notlarına ulaşabilirsin ve kendi notlarını yükleyebilirsin.
                        </p>
                    </div>
                    <div class="col-sm-6 col-xl-5 mb-xl-5 mb-lg-3 mb-4 text-center text-sm-left">
                        <i class="ti-write mb-xl-4 mb-lg-3 mb-4 feature-icon"></i>
                        <h3 class="mb-xl-4 mb-lg-3 mb-4">Makale</h3>
                        <p>
                            Güncel makaleleri okuyup sende istediğn makaleyi yükleyebilirsin.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>